static/imgs/** filter=lfs diff=lfs merge=lfs -text
static/audio/server1.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tapping3.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tropical.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/airplane2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/fireplace.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/rain1.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/airplane1.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/war-propeller.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/wind1.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos filter=lfs diff=lfs merge=lfs -text
static/audio/war.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/rain2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/server2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tapping1.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tapping2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tiktock.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tropical2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/wind2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/cave.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/ocean.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/rain3.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos/krusty-insta.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos/scooby-facebook.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos/shaggy-instagram.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos/sponge-tos-complete.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos/sponge-tos-complete2.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/tos/homer-facebook.mp3 filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(10).wav.asd filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(7).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(1).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(11).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(3).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(4).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(5).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(10).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(6).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(8).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio.wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(2).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(9).wav filter=lfs diff=lfs merge=lfs -text
static/audio/prayers/audio(12).wav filter=lfs diff=lfs merge=lfs -text
static/audio/ui/** filter=lfs diff=lfs merge=lfs -text
static/audio/ui/* filter=lfs diff=lfs merge=lfs -text
static/audio/** filter=lfs diff=lfs merge=lfs -text
